html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  height: 100%;
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  background-color: #e5e7eb;
  width: 100dvw;
  min-height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  z-index: 3;
  flex-wrap: wrap;
}
.navbar img {
  height: 50px;
  padding-left: 100px;
}
.navbar .nav-buttons {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  height: 100%;
}
.navbar .nav-buttons a {
  background-color: #e5e7eb;
  border-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}
.navbar .nav-buttons a:hover {
  font-weight: bold;
  cursor: pointer;
}
.navbar .separador-lateral {
  height: 1px;
  width: 316.13px;
}

.main-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.main-section h1 {
  font-size: 4em;
  margin: 0;
  padding: 0;
  color: white;
}
.main-section p {
  font-size: 1.7em;
  margin: 20px 0;
  padding: 0;
  color: white;
}
.main-section input {
  width: 30vw;
  height: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  text-align: center;
}
.main-section article {
  background-color: #5E17EB;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/gif/background.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-section article .first-section {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: calc(100dvh - 70px);
  justify-content: space-between;
}
.main-section article .first-section .text-section {
  justify-content: center;
  text-align: center;
  z-index: 2;
}
.main-section article .first-section .autocomplete {
  justify-content: center;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 30vw;
}
.main-section article .first-section .autocomplete input {
  border-radius: 20px;
}
.main-section article .first-section .autocomplete .autocomplete-items {
  position: absolute;
  padding-top: 10px;
  width: 30vw;
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  z-index: 10;
  font-size: 1.3em;
  border-radius: 0 0 20px 20px;
}
.main-section article .first-section .autocomplete .autocomplete-items .autocomplete-item {
  padding: 10px;
}
.main-section article .first-section .autocomplete .autocomplete-items .autocomplete-item:hover {
  background-color: #cebaee;
  cursor: pointer;
}
.main-section article .first-section .autocomplete.open input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main-section article .first-section .autocomplete .autocomplete-items:empty {
  display: none;
}
.main-section article .first-section > * h1,
.main-section article .first-section > * p,
.main-section article .first-section > * input,
.main-section article .first-section > * button,
.main-section article .first-section > *.autocomplete-items {
  opacity: 0;
  animation: appearFromBottom 0.8s ease-out forwards;
}
.main-section article .first-section > * h1 {
  animation-delay: 0.2s;
}
.main-section article .first-section > * p {
  animation-delay: 0.4s;
}
.main-section article .first-section > * input {
  animation-delay: 0.6s;
}
.main-section article .first-section > * button {
  animation-delay: 0.8s;
}
.main-section article .first-section > *.autocomplete-items {
  animation-delay: 0.6s;
}
.main-section article .first-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(94, 23, 235, 0.8);
  /* oscurece */
  z-index: 1;
}
.main-section article button {
  background-color: #FDCB58;
  border-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  color: black;
  width: 160px;
  padding: 20px;
  border-radius: 35px;
}
.main-section article button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(252.3964497041, 187.3076923077, 37.6035502959);
}

.servicios-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background-color: #f0f0f0;
  scroll-margin-top: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  align-items: center;
  justify-content: center;
}
.servicios-section h1 {
  color: black;
  font-size: 3em;
}
.servicios-section h2 {
  color: rgb(100, 100, 100);
  font-size: 2em;
}
.servicios-section .servicios {
  justify-self: center;
  margin-top: 2vw;
}
.servicios-section .servicios .servicio {
  display: flex;
  flex-direction: row;
  height: 15vw;
}
.servicios-section .servicios .servicio .imagen {
  height: 100%;
  width: 25vw;
}
.servicios-section .servicios .servicio .imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 5vw;
  border-top-left-radius: 5vw;
}
.servicios-section .servicios .servicio .texto {
  background-color: #e5dcf3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  border-bottom-right-radius: 5vw;
  border-top-right-radius: 5vw;
}
.servicios-section .servicios .servicio .texto h3 {
  font-size: 2.2em;
  padding: 0;
  margin: 0;
}
.servicios-section .servicios .servicio .texto p {
  color: black;
  padding: 0 10%;
  font-size: 1.5em;
}
.servicios-section .servicios #imagen-centro img {
  border-bottom-right-radius: 5vw;
  border-top-right-radius: 5vw;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.servicios-section .servicios #texto-centro {
  background-color: #ffe7b0;
  border-bottom-left-radius: 5vw;
  border-top-left-radius: 5vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.servicios-section .servicios .servicio:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5vw;
  transition: 0.3s;
}

.servicios-section.active {
  opacity: 1;
  transform: translateY(0);
}

.pilares-section, .formulario-contacto-section, .equipo-section, .planes-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background-color: #f0f0f0;
  scroll-margin-top: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}
.pilares-section h2, .formulario-contacto-section h2, .equipo-section h2, .planes-section h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  color: black;
}
.pilares-section p, .formulario-contacto-section p, .equipo-section p, .planes-section p {
  font-size: 2em;
  margin: 20px 0;
  padding: 0;
  color: rgb(100, 100, 100);
  font-weight: bold;
}
.pilares-section .card-pilares-section, .formulario-contacto-section .card-pilares-section, .formulario-contacto-section .formulario-section, .equipo-section .card-pilares-section, .equipo-section .equipo-cards-section, .planes-section .card-pilares-section, .planes-section .planes-card-section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.pilares-section .card-pilares-section .pilar, .formulario-contacto-section .card-pilares-section .pilar, .formulario-contacto-section .formulario-section .pilar, .formulario-contacto-section .formulario-section .formulario-div, .equipo-section .card-pilares-section .pilar, .equipo-section .equipo-cards-section .pilar, .equipo-section .equipo-cards-section div, .planes-section .card-pilares-section .pilar, .planes-section .planes-card-section .pilar, .planes-section .planes-card-section div {
  border-style: solid;
  border-color: #dbdde0;
  background-color: white;
  border-radius: 15px;
  min-height: 250px;
  width: 400px;
}
.pilares-section .card-pilares-section .pilar p, .formulario-contacto-section .card-pilares-section .pilar p, .formulario-contacto-section .formulario-section .pilar p, .formulario-contacto-section .formulario-section .formulario-div p, .equipo-section .card-pilares-section .pilar p, .equipo-section .equipo-cards-section .pilar p, .equipo-section .equipo-cards-section div p, .planes-section .card-pilares-section .pilar p, .planes-section .planes-card-section .pilar p, .planes-section .planes-card-section div p {
  text-align: center;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}
.pilares-section .card-pilares-section .pilar img, .formulario-contacto-section .card-pilares-section .pilar img, .formulario-contacto-section .formulario-section .pilar img, .formulario-contacto-section .formulario-section .formulario-div img, .equipo-section .card-pilares-section .pilar img, .equipo-section .equipo-cards-section .pilar img, .equipo-section .equipo-cards-section div img, .planes-section .card-pilares-section .pilar img, .planes-section .planes-card-section .pilar img, .planes-section .planes-card-section div img {
  width: 55px;
  height: 55px;
  padding: 15px;
  border-radius: 20px;
  background-color: #cebaee;
}
.pilares-section .card-pilares-section .pilar .logo-mitad, .formulario-contacto-section .card-pilares-section .pilar .logo-mitad, .formulario-contacto-section .formulario-section .pilar .logo-mitad, .formulario-contacto-section .formulario-section .formulario-div .logo-mitad, .equipo-section .card-pilares-section .pilar .logo-mitad, .equipo-section .equipo-cards-section .pilar .logo-mitad, .equipo-section .equipo-cards-section div .logo-mitad, .planes-section .card-pilares-section .pilar .logo-mitad, .planes-section .planes-card-section .pilar .logo-mitad, .planes-section .planes-card-section div .logo-mitad {
  background-color: wheat;
}
.pilares-section .card-pilares-section .pilar:hover, .formulario-contacto-section .card-pilares-section .pilar:hover, .formulario-contacto-section .formulario-section .pilar:hover, .formulario-contacto-section .formulario-section .formulario-div:hover, .equipo-section .card-pilares-section .pilar:hover, .equipo-section .equipo-cards-section .pilar:hover, .equipo-section .equipo-cards-section div:hover, .planes-section .card-pilares-section .pilar:hover, .planes-section .planes-card-section .pilar:hover, .planes-section .planes-card-section div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  padding: 10px;
}

.pilares-section.active, .active.formulario-contacto-section, .active.equipo-section, .active.planes-section {
  opacity: 1;
  transform: translateY(0);
}

.planes-section {
  background-color: #e5e7eb;
}
.planes-section p {
  font-style: italic;
}
.planes-section .planes-card-section div {
  min-height: 400px;
}
.planes-section .planes-card-section h3 {
  font-size: 1.8em;
  margin: 0px;
  padding-top: 20px;
}
.planes-section .planes-card-section h4 {
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgb(100, 100, 100);
}
.planes-section .planes-card-section .plan-mitad {
  background-color: wheat;
  border-radius: 100px;
}
.planes-section .planes-card-section .plan-icono {
  border-radius: 100px;
}
.planes-section .planes-card-section ul {
  text-align: center;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  list-style: none;
}
.planes-section .planes-card-section ul li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.planes-section .planes-card-section ul li svg {
  fill: #FDCB58;
  width: 30px;
}

.planes-section.active {
  opacity: 1;
  transform: translateY(0);
}

.validadores-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background-color: #5E17EB;
  color: white;
  scroll-margin-top: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  background-image: url(../assets/gif/background.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
.validadores-section .validadores-section-texto-inicial h1 {
  position: relative;
  font-size: 3em;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.validadores-section .validadores-section-texto-inicial h2 {
  position: relative;
  z-index: 1;
  font-size: 2em;
}
.validadores-section .validadores-contenedor {
  display: flex;
}
.validadores-section .metricas {
  width: 50%;
  gap: 50px;
  align-items: center;
  z-index: 1;
  display: grid;
}
.validadores-section .metricas .metrica {
  display: flex;
  align-items: center;
  vertical-align: center;
  width: 827;
  height: 300;
}
.validadores-section .metricas .metrica .parte-izquierda {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 20dvh;
  gap: 0px;
  border-left: white;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.validadores-section .metricas .metrica .parte-izquierda h1 {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
  justify-self: center;
  vertical-align: middle;
}
.validadores-section .metricas .metrica .parte-izquierda h3 {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-size: 1.3em;
}
.validadores-section .metricas .metrica .parte-derecha {
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 0 50px;
  display: grid;
}
.validadores-section .metricas .metrica .parte-derecha h3 {
  justify-content: center;
  margin: 0 auto;
  vertical-align: center;
  font-size: 1.3em;
}

.validadores-section.active {
  opacity: 1;
  transform: translateY(0);
}

.validadores-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(94, 23, 235, 0.8);
  /* oscurece */
  z-index: 1;
}

.comentarios-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  justify-content: center;
  background-color: #f0f0f0;
  scroll-margin-top: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
}
.comentarios-section h1 {
  color: black;
  font-size: 3em;
}
.comentarios-section h2 {
  color: rgb(100, 100, 100);
  font-size: 2em;
}
.comentarios-section h3 {
  color: #5E17EB;
  font-size: 1.8em;
}
.comentarios-section p {
  color: black;
  padding: 0 10%;
  font-size: 1.5em;
}
.comentarios-section .comentarios-container {
  width: 60%;
  display: flex;
  justify-content: center;
  justify-self: center;
}
.comentarios-section .comentarios-container .boton-adelante {
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: #5E17EB;
  border-top-right-radius: 1em;
}
.comentarios-section .comentarios-container .boton-adelante:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(74.75, 16.4285714286, 190.5714285714);
}
.comentarios-section .comentarios-container .boton-atras {
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: #5E17EB;
  border-top-left-radius: 1em;
}
.comentarios-section .comentarios-container .boton-atras:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(74.75, 16.4285714286, 190.5714285714);
}
.comentarios-section .comentarios-container svg {
  width: 50px;
  justify-self: center;
  color: white;
  fill: white;
}
.comentarios-section .comentarios-container .comentarios {
  overflow: hidden;
}
.comentarios-section .comentarios-container .comentarios-track {
  display: flex;
  transition: transform 0.6s ease;
}
.comentarios-section .comentarios-container .comentario {
  background-color: rgb(253, 244, 223);
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
  width: 100%;
}
.comentarios-section .comentarios-container .comentario h2 {
  color: black;
  font-style: normal;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
.comentarios-section .barra-navegacion {
  background-color: #5E17EB;
  width: 60%;
  height: 5%;
  justify-self: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.comentarios-section .barra-navegacion svg {
  width: 10px;
  fill: white;
}
.comentarios-section .barra-navegacion svg.active {
  fill: wheat;
  transform: scale(1.2);
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 100%;
}
.comentarios-section .barra-navegacion svg:hover {
  cursor: pointer;
}

.comentarios-section.active {
  opacity: 1;
  transform: translateY(0);
}

.objetivo-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background-color: #e5e7eb;
  scroll-margin-top: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}
.objetivo-section h1 {
  font-size: 3em;
  color: black;
}
.objetivo-section p {
  font-size: 2em;
  margin: 20px 0;
  padding: 0;
  color: rgb(100, 100, 100);
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
.objetivo-section input {
  background-color: white;
  height: 10vw;
  width: 70vw;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
  vertical-align: baseline;
}
.objetivo-section textarea {
  background-color: white;
  height: 10vw;
  width: 70vw;
  border-radius: 30px;
  margin: 40px;
  text-align: left;
  vertical-align: baseline;
  align-content: baseline;
  font-size: 1.3em;
  font-family: "Manrope", sans-serif;
  padding: 20px;
}
.objetivo-section button {
  background-color: #FDCB58;
  border-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  color: black;
  width: auto;
  padding: 20px;
  border-radius: 35px;
}
.objetivo-section button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(252.3964497041, 187.3076923077, 37.6035502959);
}

.objetivo-section.active {
  opacity: 1;
  transform: translateY(0);
}

.equipo-section h1 {
  color: black;
  font-size: 3em;
}
.equipo-section p {
  font-size: 2em;
}
.equipo-section .equipo-cards-section {
  padding-top: 10px;
}
.equipo-section .equipo-cards-section div {
  flex-direction: column;
  height: 270px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.equipo-section .equipo-cards-section div img {
  width: 130px;
  height: 130px;
  border-radius: 75px;
  padding: 0px;
  padding-top: 10px;
  background-color: white;
}
.equipo-section .equipo-cards-section div h1 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
  padding: 0px;
}
.equipo-section .equipo-cards-section div p {
  font-size: 1.1em;
  color: rgb(100, 100, 100);
}

.equipo-section.active {
  opacity: 1;
  transform: translateY(0);
}

.formulario-contacto-section {
  background-color: #e5e7eb;
}
.formulario-contacto-section h1 {
  color: black;
  font-size: 3em;
}
.formulario-contacto-section .formulario-section {
  padding-top: 10px;
}
.formulario-contacto-section .formulario-section .formulario-div {
  padding-top: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
  width: auto;
  height: auto;
  gap: 10px;
}
.formulario-contacto-section .formulario-section .formulario-div .fila-formulario {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-style: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}
.formulario-contacto-section .formulario-section .formulario-div .fila-formulario .campo-formulario {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.formulario-contacto-section .formulario-section .formulario-div .fila-formulario .campo-formulario h4 {
  margin: 0px;
  padding: 10px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}
.formulario-contacto-section .formulario-section .formulario-div input {
  background-color: #e5e7eb;
  height: 40px;
  border-radius: 30px;
}
.formulario-contacto-section .formulario-section .formulario-div button {
  background-color: #FDCB58;
  border-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  color: black;
  width: auto;
  padding: 20px;
  border-radius: 35px;
}
.formulario-contacto-section .formulario-section .formulario-div button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(252.3964497041, 187.3076923077, 37.6035502959);
}

.formulario-contacto-section.active {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: black;
  width: auto;
  height: auto;
  padding: 5px;
}
.footer .informacion-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 20px;
}
.footer .informacion-section h4 {
  color: white;
}
.footer .informacion-section p {
  color: #c2c2c2;
}
.footer .informacion-section a {
  color: #c2c2c2;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}
.footer .informacion-section .enlaces_rapidos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .informacion-section .enlaces_rapidos h4 {
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}
.footer .informacion-section .lista_enlaces div {
  padding-top: 10px;
}
.footer .final-section {
  text-align: center;
  padding: 10px;
  border-top: #c2c2c2 1px solid;
}
.footer .final-section p {
  color: #c2c2c2;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.modal {
  border-radius: 5vw;
  justify-items: center;
  align-items: center;
  overflow: visible;
}
.modal h3 {
  justify-content: center;
  text-align: center;
}
.modal[open] {
  animation: modalFadeIn 0.6s ease forwards;
}
.modal .modal-form {
  height: 17vw;
  width: 50vw;
  justify-items: center;
  align-items: center;
}
.modal .modal-form label {
  font-size: 1.2em;
}
.modal .modal-form input {
  align-self: center;
  width: 15vw;
  height: 3vw;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  text-align: center;
  background-color: #e5e7eb;
  border-radius: 5vw;
}
.modal .modal-form .campos {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.modal .modal-form .modal-actions {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  padding: 0;
}
.modal .modal-form button {
  background-color: #FDCB58;
  border-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  color: black;
  width: 160px;
  padding: 20px;
  border-radius: 35px;
}
.modal .modal-form button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(252.3964497041, 187.3076923077, 37.6035502959);
}
.modal .modal-form #btn-cancelar-dialog {
  background-color: #ff9c9c;
}/*# sourceMappingURL=main.css.map */